<div class="container">
  <h1>Formulario</h1>
  <form (ngSubmit)="onRegister()" #myForm="ngForm" class="form">
    <div class="input-group">
      <label >Nombre</label>
      <input type="text" required #InputName="ngModel" id="name" [(ngModel)]="register.name" name="name"
      [ngClass]="{
        'Inputvalid':InputName.valid,
        'Inputinvalid':InputName.invalid
      }">
      <p [ngClass]="{
        'valid':InputName.valid,
        'invalid':InputName.invalid
      }">coloque un nombre por favor</p>
    </div>
    <div class="input-group">
      <label >Correo</label>
      <input type="email" required #InputEmail="ngModel" id="email" [(ngModel)]="register.email" name="email"
      [ngClass]="{
        'Inputvalid':InputEmail.valid,
        'Inputinvalid':InputEmail.invalid
      }">
      <p [ngClass]="{
        'valid':InputEmail.valid,
        'invalid':InputEmail.invalid
      }">coloque un correo por favor</p>
    </div>
    <div class="input-group">
      <label>Contraseña</label>
      <input type="password" required #InputPassword = "ngModel" id="password" [(ngModel)]="register.password" name="password"
      [ngClass]="{
        'Inputvalid':InputPassword.valid,
        'Inputinvalid':InputPassword.invalid
      }">
      <p [ngClass]="{
        'valid':InputPassword.valid,
        'invalid':InputPassword.invalid
      }">coloque una contraseña por favor</p>
    </div>
    <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  </form>
</div>






<div class="container">
  <h1>NgClass & NgStyle</h1>
  <input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
  <hr class="line-error"
  [ngClass]="{
    'valid':nameInput4.valid,
    'invalid':nameInput4.invalid
  }"
  />
</div>
<p class="message-error" [class.invalid]="nameInput2.invalid">el campo es requerido</p>
<div class="styles">
  <div>
    <input type="number" required [(ngModel)]="box.width" />
    <input type="number" required [(ngModel)]="box.height" />
    <input type="color" required [(ngModel)]="box.background" />
  </div>
  <div>
      <div [ngStyle]="{
        'width.px': box.width,
        'height.px':box.height,
        'background-color':box.background,
        'display': 'block'
      }"></div>
  </div>
</div>










<div class="container">
  <input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
  <p class="message-error" [class.invalid]="nameInput2.invalid">el campo es requerido</p>
  <label>Nombre</label>
  <input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
  <p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">texto texto</p>
  <div class="styles">
    <div>
      <input type="number" required [(ngModel)]="widthImg" />
    </div>
    <div>
      <img [style.width.px]="widthImg" [src]="person.avatar" alt="imagen" />
    </div>
  </div>
</div>
<div class="container">
  <h1>ngSwitch</h1>
  <input type="text" [(ngModel)]="person.name" />
  <div [ngSwitch]="person.name">
    <p *ngSwitchCase="'cristian'">soy cristian</p>
    <p *ngSwitchCase="'jesus'">soy jesus</p>
    <p *ngSwitchCase="'shiara'">soy shiara</p>
    <p *ngSwitchDefault>no se encuentra ninguna coincidencia</p>
  </div>
</div>

<div class="container products--grid">
  <h1>*ngFor Objs</h1>
  <div *ngFor="let product of productos">
    <img [src]="product.image" alt="imagen">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>
<div class="container">
  <h1>*ngFor</h1>
  <input type="text" [(ngModel)]="newName" />
  <button (click)="addName()">Add name</button>
  <ul>
    <li *ngIf="names.length === 0">No hay nombres</li>
    <li *ngFor="let name of names;index as i">
      {{i + 1}} {{name}}
      <button (click)="deleteName(i)">Delete</button>
    </li>
  </ul>
</div>
<div class="container">
  <h1>*ngIf</h1>
  <input type="text" [(ngModel)]="person.name" />
  <p *ngIf="person.name === 'cristian' && person.age === 18">Soy cristian</p>
  <p *ngIf="person.name === 'alejandro' && person.age === 18;else myBlock ">Soy alejandro</p>
  <ng-template #myBlock>
    <p>bloque else</p>
  </ng-template>
</div>
<div class="container">
  <h1>NgModel</h1>
  <p> Nombre: {{person.name}}</p>
  <input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
  <p>Valid: {{nameInput.valid}}</p>
  <input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" />
  <p>Valid: {{ageInput.valid}}</p>

</div>
<div class="container">
  <h1>Eventos</h1>
  <button [disabled]="btnDisabled">Enviar</button>
  <button (click)="toggleButton()">Toogle button</button>
  <p>Edad {{ person.age }}</p>
  <button (click)="increaseAge()">Age ++</button>
</div>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, ut! Ullam, quo, laboriosam blanditiis deserunt ducimus
    iste atque, unde earum doloribus fugit impedit odio! Expedita consectetur mollitia sint maxime dolorum.
    Nobis, aliquid rem dolor dolores quis laboriosam esse eius ipsum recusandae neque sapiente quisquam libero provident
    modi alias omnis voluptate ut nihil necessitatibus illum dolorum doloremque. Omnis eaque fugiat rerum?
    Nemo voluptatibus consequuntur suscipit, repudiandae provident debitis officia sequi dicta sit nostrum in expedita
    reiciendis eos sed id non ab quia amet repellat aspernatur, quod odio maxime. Expedita, voluptatibus laudantium!</p>
</div>
<hr />
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<p> Nombre: {{person.name}}</p>
<hr />
<div class="container">
  <h1>Propiedades</h1>
  <button [disabled]="btnDisabled">Enviar</button>
  <!-- property binding es la forma de alterar propiedades -->
  <input type="text" [value]="name" />
  <!-- esto es una barra de progreso -->
  <progress max="100" [value]="person.age"></progress>
  <img width="100" [src]="person.avatar" alt="imagen" />
</div>
<hr />
<div class="container">
  <h1>hola mundo</h1>
  <h2>{{ 'hola mundo'.repeat(5) }}</h2><!--estos se llaman breakers-->
  <p> 3 + 3 = {{ 3 + 3 }}</p>
  <h3> hola soy {{ name }} y tengo {{ age }} años</h3>
  <img src={{img}} alt="image" width="200">
</div>
